{% extends "base.html" %}
{% load static %}
{% block title %}Запись {{ post.title|truncatechars:30 }}{% endblock %}
{% block content %}
{% load social_share %}
{% include 'posts/includes/switcher.html' %}
{% load user_filters %}
{% load thumbnail %}
  <h1>
    Публикация автора: {{ post.author.get_full_name }}
  </h1>
  <br>
  <article>
<div class="author-list">
  <li>
    Автор: {{ post.author.get_full_name }}
    <a href="{% url 'posts:profile' post.author.username %}"></a>
  </li>
  <li>
    Дата публикации:
    {{ post.pub_date|date:"d E Y" }}
  </li>
  {% if post.group %}
  <li>
    Группа:
    <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>
  </li>
</div>
  {% thumbnail post.image "960x400" crop="center" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  {% endif %}
  </ul>
  <h3>
    {{ post.title | linebreaksbr }}
  </h3>
  <p>
    {{ post.text|linebreaks }}
  </p>
  <div class="social-contact col-md-4">
    <p>Поделиться: </p>
    <script src="{% static 'js/eb5100ca45.js' %}" crossorigin="anonymous"></script>
     <span style="font-size:15px;float:left;margin-left:10px;"class="fa-2x nav-item"> 
      {% post_to_linkedin object_or_url %}
    </span>
      <span style="color:#0088cc; float:left;margin-left:10px;" class="nav-item"> 
        {% post_to_telegram "New Post: {{detail.title}}" object_or_url '<i class="fa-brands fa-instagram fa-2x"></i>' %}
      </span>
     <span style="float:left;margin-left:10px;" class="nav-item">
      {% post_to_facebook object_or_url '<i class="fab fa-facebook fa-2x"></i>' %}
    </span>
     <span style="float:left;margin-left:10px;" class="nav-item"> 
      {% post_to_twitter "New Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-twitter fa-2x"></i>' %}
    </span>
    <span style="float:left;margin-left:10px;" class="nav-item"> 
      {% post_to_telegram "New Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-telegram fa-2x"></i>' %}
    </span>
    <span style="float:left;margin-left:10px;" class="nav-item"> 
      {% post_to_reddit "New Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-reddit fa-2x"></i>' %}
    </span>
     <span style="float:left;margin-left:10px;" class="nav-item">
      {% post_to_whatsapp object_or_url '<i class="fa-brands fa-whatsapp fa-2x"></i>' %}
    </span>
     <span style="float:left;margin-left:10px;" class="nav-item">
      {% post_to_gplus object_or_url '<i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i>' %}
    </span>
</div>
  {% if user == post.author %}
  <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
    Редактировать запись
  </a>
{% endif %}
{% include 'posts/includes/comments.html'%}
</article>
</div>
{% endblock %}